APP_NAME="VMS KELET"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=Asia/Almaty
APP_URL=http://192.168.0.201

APP_LOCALE=ru
APP_FALLBACK_LOCALE=ru
APP_FAKER_LOCALE=ru_RU

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=vms_db
DB_USERNAME=vms_user
DB_PASSWORD=your_password_here

BROADCAST_DRIVER=redis
CACHE_STORE=redis
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# MediaMTX endpoints
MEDIAMTX_HTTP_URL=http://192.168.0.201:9997
MEDIAMTX_RTSP_URL=rtsp://192.168.0.201:8554
MEDIAMTX_WEBRTC_URL=http://192.168.0.201:8889

# Camera Connector API
CAMERA_CONNECTOR_URL=http://192.168.0.201:3001